<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72352580090-8tcn5g0aro1id0envaa8e0v8dgia0d35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72352580090-8tcn5g0aro1id0envaa8e0v8dgia0d35</string>
	<key>API_KEY</key>
	<string>AIzaSyCQDPmhh03hy7d5lTqMiJFaoEu6xgY6P7U</string>
	<key>GCM_SENDER_ID</key>
	<string>72352580090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.vageeshgn.firstApp</string>
	<key>PROJECT_ID</key>
	<string>fir-flutterlearning</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutterlearning.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72352580090:ios:9ba5e3e9334e8a1c5de443</string>
	<key>DATABASE_URL</key>
	<string>https://fir-flutterlearning.firebaseio.com</string>
</dict>
</plist>